.arrowleft {
    justify-self: end;
    position: relative;
    left: 3%;
    top: 50%;
}

.arrowright {
    position: relative;
    left: 94%;
    top: 46%;
}


.circle {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: blanchedalmond;
    border-radius: 50%;
}